/*

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Monda", sans-serif;
  background-color: #e0e0e0;
}

/*********************************/
/* HEADER */
/*********************************/

.header {
  height: 100vh;
}

.header-right {
  background-image: url("../img/hero-right-img.png");
  background-size: cover;
  background-position: center;
}

.header-left {
  background-image: url("../img/hero-back.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.header-left-content-box {
  padding: 8rem 8rem;
  height: 100vh;
}

.nav-link--my:link,
.nav-link--my:visited {
  text-transform: uppercase;
  font-size: 2rem;
}

.nav-link--my:hover,
.nav-link--my:active {
  color: #831adc;
}

.navbar-nav .nav-link--my.active {
  color: #831adc;
  font-weight: bold;
}

.header-left-content {
  position: relative;
}

.header-left-text-box {
  max-width: 50rem;
}

.header-img {
  margin-left: 30%;
}

.text-rotated {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  padding: 2px 15px;
}

.text-rotated--black-bg {
  background-color: #000;
  margin-right: auto;
  transform: rotate(-5deg);
}

.text-rotated--purple-bg {
  margin-left: auto;
  background-color: #831adc;
  transform: rotate(-2deg);
  margin-bottom: 3.2rem;
}

.text {
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.2;
}

.text span {
  color: #831adc;
  font-weight: 600;
}

.arrow-down-link:link,
.arrow-down-link:visited {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}
