/*

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Monda", sans-serif;
  background-color: #e0e0e0;
}

/*********************************/
/* HEADER */
/*********************************/

.header {
  height: 100vh;
}

.header-right {
  background-image: url("../img/hero-right-img.png");
  background-size: cover;
  background-position: center;
}

.header-left {
  background-image: url("../img/hero-back.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.header-left-content-box {
  padding: 8rem 8rem;
  height: 100vh;
}

.nav-link--my:link,
.nav-link--my:visited {
  text-transform: uppercase;
  font-size: 2rem;
}

.nav-link--my:hover,
.nav-link--my:active {
  color: #831adc;
}

.navbar-nav .nav-link--my.active {
  color: #831adc;
  font-weight: bold;
}

.header-left-content {
  position: relative;
}

.header-left-text-box {
  max-width: 50rem;
}

.header-img {
  margin-left: 30%;
}

.text-rotated {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
  padding: 2px 15px;
}

.text-rotated--black-bg {
  background-color: #000;
  margin-right: auto;
  transform: rotate(-5deg);
}

.text-rotated--purple-bg {
  margin-left: auto;
  background-color: #831adc;
  transform: rotate(-2deg);
  margin-bottom: 3.2rem;
}

.text {
  color: #000;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.2;
}

.text span {
  color: #831adc;
  font-weight: 600;
}

.arrow-down-link:link,
.arrow-down-link:visited {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
}

/*********************************/
/* SECOND SECTION */
/*********************************/

.second-section {
  background-color: #831adc;
  background-image: url(../img/scribble-2-img.png);
  background-repeat: no-repeat;
  background-position: left bottom -30px;
  padding: 6.4rem 0;
}

.main-heading {
  font-family: "Staatliches", sans-serif;
  text-transform: uppercase;
  font-size: 7.4rem;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 1.2;
  color: #000;
  margin: 0;
}

.second-section-right-content {
  max-width: 40rem;
}

.my-btn:link,
.my-btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  border: 3px solid #fff;
  padding: 1rem 5rem;
  border-radius: 100px;
  transition: all 0.4s;
}

.my-btn:hover,
.my-btn:active {
  background-color: #6207b1;
  border: 3px solid #6207b1;
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/*********************************/
/* CAROUSEL SECTION */
/*********************************/

.carousel-section {
  padding: 12.8rem 0 9.6rem 0;
  background-image: url(../img/paper-tear.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 100%;
  position: relative;
  overflow: hidden;
}

.my-carousel {
  padding-top: 12.8rem;
  max-width: 90rem;
  margin: 0 auto;
  position: relative;
}

.carousel-col-left,
.carousel-col-right {
  max-width: 44rem;
  padding: 3.2rem 0;
}

.carousel-col-left {
  position: relative;
}

.carousel-bg-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.carousel-col-left .text-rotated {
  margin-bottom: 10rem;
  transform: translateX(50px) rotate(-5deg);
}

.carousel-col-right .text-rotated--purple-bg {
  margin-left: 0;
  transform: rotate(2deg);
  margin-top: 3rem;
  margin-bottom: 7rem;
}

.carousel-col-left .text,
.carousel-col-right .text {
  padding-right: 1rem;
}

.carousel-controls {
  position: absolute;
  top: 0;
  right: 0;
}

.carousel-control-my {
  position: relative;
  opacity: 1;
}

.carousel-control-my--left {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.carousel-left-arrow {
  width: 105px;
  height: 49px;
}

.slide-number {
  margin: 0;
  font-size: 3rem;
  color: #831adc;
  font-weight: 600;
}

.carousel-left-dots,
.carousel-right-dots {
  position: absolute;
  z-index: -1;
}

.carousel-left-dots {
  left: 0;
  bottom: -100px;
}

.carousel-right-dots {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
